<!-- Import Angular Material typography styles -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Add Material Design styles for the components -->
<style>
  @import './horse-info.component.scss';
</style>

<!-- Horse Info Component HTML -->
<div class="card" *ngIf="horse">
  <h2>Horse Information</h2>
  <ul>
    <li><strong>Name:</strong> {{ horse.name ?? "Not Set" }}</li>
    <li><strong>Sex:</strong> {{ horse.sex ?? "Not Set" }}</li>
    <li><strong>Date of Birth:</strong> {{ horse.dateOfBirth }}</li>
    <li><strong>Breed:</strong> {{ horse.breed?.name ?? "Not Set" }}</li>
    <li><strong>Weight:</strong> {{ horse.weight ?? "Not Set" }} kg</li>
    <li><strong>Height:</strong> {{ horse.height ?? "Not Set"}} m</li>
  </ul>
  <div class="buttons">
    <app-confirm-delete-dialog
      (confirm)="onDelete()"
      [deleteWhat]="horse?.name"
      id="del_confirm_view"
      role="dialog"
      tabindex="-1"
    ></app-confirm-delete-dialog>
    <button
      class="button delete-button"
      data-bs-toggle="modal"
      data-bs-target="#del_confirm_view"
    >
      Delete
    </button>
    <span class="spacer"></span>
    <button class="button" routerLink="/horses/edit/{{ horse.id }}">Edit</button>
  </div>
</div>

<div class="card" *ngIf="!horse">
  <p>No horse information available.</p>
</div>
